.marker-icon-white {
  color: white;
  @include single-text-shadow(rgba(black, 0.5), 0, 1px, 1px);
}

.leaflet-div-icon {
  border: 0;
}

.leaflet-marker-icon {
  background: transparent url('marker-sprites.png') no-repeat;
  width: 29px;
  height: 32px;
  margin-left: -15px;
  margin-top: -30px;

  @include if-min-resolution(1.3) {
    background: transparent url('marker-sprites@2x.png') no-repeat;
    background-size: 29px 128px;
  }

  $accessibilites: (yes, limited, no, unknown);
  $i: 0;

  @each $accessibily in $accessibilites {
    &[data-wheelchair="#{$accessibily}"] {
      background-position: 0 (-32px * $i);
      $i: $i + 1;
    }
  }
}

.leaflet-marker-icon {
  &:after {
    content: '';
    margin: 3px 4px;
    background: image-url('/icons/icon-sprite.png') no-repeat top left;
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  $icons: (2hand, airport, airport_terminal, apartment, artgallery, atm, bank, bar, bar_coktail, barber, beach, beautifulview, beautysalon, bed_breakfast1, biergarten, bigcity, boat, bread, busstop, butcher, cablecar, camping, car, car_repair, carrental, castle, cat, cave, chemist, cinema, clothers_male, coffee, communitycentre, computers, conveniencestore, court, cross, currencyexchange, cycling, dancinghall, daycare, dentist, departmentstore, drinkingwater, drugstore, embassy, fastfood, ferry, fillingstation, firstaid, fitness, flowers, fossils, gifts, hearing_aids, hiking, home, homecenter, hospital, house, icecream, information, jewelry, kiosk, lantern, laundromat, library, liquor, lobster-export, lodging_0star, mall, medicalstore, medicine, memorial, motel, museum_archeological, museum_art, music, office-building, ophthalmologist, parking, phones, photography, playground, poker, police, postal, prayer, publicart, restaurant, restaurant_vegetarian, school, shoes, soccer, social_facility, stadium, stationery, stop, stripclub, supermarket, swimming, targ, tennis, textiles, theater, themepark, toilets, tools, toys, train, tramway, travel_agency, underground, university, veterinary, villa, weights, workoffice, zoo);
  $i: 0;

  @each $icon in $icons {
    &[data-icon="#{$icon}"]:after {
      background-position: 0 -22px * $i;
      $i: $i + 1;
    }
  }
}
